@page "/"
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider


<PageTitle>Index</PageTitle>



@* 
<div class="bg-image h-70 ">
	<h1 class="bg-text-centered">Welcome to EventSpace</h1>
	<div class="search-main">

		<div class="form-group has-search">
			<form>
				<span class="bi bi-search form-control-feedback"></span>
				<input type="text" class="form-control search-input" name="searchValue" placeholder="Search by event or artist">
			</form>
		</div>
	</div>
</div> *@
<section class="img-bg text-center main-sec">
	<h1 class="display-4">Welcome To EventSpace</h1>
	<div class="main">
		<div class="form-group has-search">
			<form>
				<span class="fas fa-search form-control-feedback text-black">
				</span>
				<input type="text" class="form-control search-input opacity-75"  name="searchValue" placeholder="Search by event">
			</form>
		</div>
	</div>
</section>
<div class="sec-section" style="background: #212529">
	<div class="d-flex">
		<p class=" p-5 @textClass" @onclick="ToggleFontSize">
			Lorem ipsum dolor sit amet. Eos dolore vitae rem atque expedita et asperiores nihil et exercitationem consequuntur qui voluptas dolorum. Id dolorem corrupti qui eius autem id accusantium sunt rem expedita ullam ut fuga maiores.
		</p>
	</div>
	<div class="p-4">
		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col">
				<div class="card h-100">
					<img src="images/homepage.jpg" class="card-img-top" alt="...">
					<div class="card-body border-bottom">
						<h5 class="card-title text-white">Card title</h5>
						<p class="card-text text-white">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
					<div class="card-footer d-flex justify-content-center">
						<button class="btn btn-outline-light">Read More</button>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card h-100">
					<img src="images/homepage.jpg" class="card-img-top" alt="...">
					<div class="card-body border-bottom">
						<h5 class="card-title text-white">Card title</h5>
						<p class="card-text text-white">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
					<div class="card-footer d-flex justify-content-center">
						<button class="btn btn-outline-light">Read More</button>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card h-100">
					<img src="images/homepage.jpg" class="card-img-top" alt="...">
					<div class="card-body border-bottom">
						<h5 class="card-title text-white">Card title</h5>
						<p class="card-text text-white">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
					</div>
					<div class="card-footer d-flex justify-content-center">
						<button class="btn btn-outline-light">Read More</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row align-items-center py-4 g-5">
		<div class="col-12 col-md-6">
			<div class="text-center text-md-start">
				<h1 class="display-md-2 display-4 fw-bold text-dark">
					<span class="discover">Discover </span>the Future of Tech
				</h1>
				<p class="lead">
					Explore our latest events around you to elevate
					your social lifestyle.
				</p>
				<button class="btn btn-primary px-5 py-3 mt-3 fs-5 fw-medium"
						type="button">
					Shop Now
				</button>
			</div>
		</div>
		<div class="col-12 col-md-6">
			<img src="/images/homepage.jpg"
				 class="img-fluid"
				 alt="event image" />
		</div>
	</div>
</div>


<div class="container">
	<div class="row align-items-center gx-3 gy-5 py-5 mt-5">
		<div class="col-12 col-md-12 col-lg-5">
			<img src="/images/eventlogo.png"
				 class="img-fluid mx-auto d-block"
				 alt="event image" />
		</div>
		<div class="col-12 col-md-12 text-center text-lg-start col-lg-7">
			<h2 class="fw-bold discover fs-1 pb-3">About Event Space</h2>
			<p class="about-text">

				EventSpace is your premier destination for event tickets,
				where every experience is meticulously crafted to elevate your moments and create unforgettable memories.
				We specialize in curating a diverse array of events, ranging from electrifying concerts to sophisticated galas,
				ensuring there's something for every taste and preference.
			</p>
			<p class="about-text">
				Experience the magic of live events like never before, and let us be
				your trusted companion in unlocking the endless possibilities of the event world. Welcome to EventSpace Central – where every
				event is an adventure waiting to be explored.
			</p>
			<button class="btn btn-primary px-5 py-3 mt-3 fs-5 fw-medium"
					type="button">
				Read More About Now
			</button>
		</div>
	</div>
</div>
<div class="features-section py-5">
	<div class="container">
		<h2 class="fs-1 fw-bold text-center pt-5 pb-5 discover">
			Our Events
		</h2>
		<div class="row g-5 pb-5">
			<div class="col-md-6 col-lg-4">
				<div class="card px-3 py-4 shadow-sm border-light bg-transparent">
					<ion-icon class="ionicons bg-transparent text-light" name="bulb-outline"></ion-icon>
					<h3 class="f5 text-light">Exciting Events</h3>
					<p class="card-text lead">
						Explore a wide range of events featuring the latest and most innovative technologies, from tech conferences to product launches.
					</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="card px-3 py-4 shadow-sm" style="background: #8c0b0b">
					<ion-icon class="ionicons bg-transparent text-light"
							  name="shield-checkmark-outline"></ion-icon>
					<h3 class="f5 text-light">Secure Ticketing</h3>
					<p class="card-text lead">
						Buy and sell concert tickets with confidence through our secure platform.
						Youur tickets are guaranteed authentic.
					</p>

				</div>
			</div>
			<div class="col-md-6 col-lg-4 offset-md-3 offset-0 offset-lg-0">
				<div class="card px-3 py-4 shadow-sm border-light bg-transparent">
					<ion-icon class="ionicons bg-transparent text-light" name="hourglass-outline"></ion-icon>
					<h3 class="f5 text-light">Efficient Service</h3>
					<p class="card-text lead">
						Experience the efficient online payment system for the desired tickets of your choice. Enjoy the efficient service and live the thrills.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container my-5">
	<div class="row align-items-center justify-content-center">
		<div class="col-12">
			<h2 class="fs-1 fw-bold discover text-center pb-5">
				Coming Soon
			</h2>
			<ul class="nav nav-tabs d-flex flx-wrap justify-content-center"
				id="myTab"
				role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active me-md-3 me-1 text-light"
							id="home-tab"
							data-bs-toggle="tab"
							data-bs-target="#home-tab-pane"
							type="button"
							role="tab"
							aria-controls="home-tab-pane"
							aria-selected="true">
						All
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link me-md-3 me-1 text-light"
							id="vr"
							data-bs-toggle="tab"
							data-bs-target="#vr-tab-pane"
							type="button"
							role="tab"
							aria-controls="profile-tab-pane"
							aria-selected="false">
						Free Events
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link me-md-3 me-1 text-light"
							id="headphones-tab"
							data-bs-toggle="tab"
							data-bs-target="#headphones-tab-pane"
							type="button"
							role="tab"
							aria-controls="contact-tab-pane"
							aria-selected="false">
						Fundraisers
					</button>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active"
					 id="home-tab-pane"
					 role="tabpanel"
					 aria-labelledby="home-tab"
					 tabindex="0">
					<div class="row g-4 mt-5 justify-content-center align-items-center">
						<div class="col-12 col-md-4">
							<img src="/images/eventlogo.png"
								 alt=""
								 class="img-fluid  d-block mx-auto" />
						</div>
						<div class="col-12 col-md-4">
							<img src="/images/eventlogo.png" alt="" class="img-fluid  d-block mx-auto" />
						</div>
						<div class="col-12 col-md-4">
							<img src="/images/eventlogo.png" alt="" class="img-fluid  d-block mx-auto" />
						</div>
					</div>
				</div>
				<div class="tab-pane fade"
					 id="vr-tab-pane"
					 role="tabpanel"
					 aria-labelledby="profile-tab"
					 tabindex="0">
					<div class="row mt-5 g-4">
						<div class="col-12 col-md-4">
							<img src="/images/homepage.jpg" alt="" class="img-fluid" />
						</div>
						<div class="col-12 col-md-4">
							<img src="/images/homepage.jpg" alt="" class="img-fluid" />
						</div>
					</div>
				</div>
				<div class="tab-pane fade"
					 id="headphones-tab-pane"
					 role="tabpanel"
					 aria-labelledby="headphones-tab"
					 tabindex="0">
					<div class="row g-4 mt-5">
						<div class="col-12 col-md-4">
							<img src="/images/mainimage.jpg"
								 alt=""
								 class="img-fluid" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container py-5 mb-5">
	<div class="row">
		<div class="col-12">
			<h2 class="fw-bold discover fs-1 pb-3 text-center">
				How it works
			</h2>

			<div class="accordion" id="accordionExample">
				<div class="accordion-item bg-dark text-light">
					<h2 class="accordion-header">
						<button class="accordion-button fs-3 text-light fw-medium"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#collapseOne"
								aria-expanded="true"
								aria-controls="collapseOne">
							How can I browse and explore event tickets on Event Space?
						</button>
					</h2>
					<div id="collapseOne"
						 class="accordion-collapse collapse show"
						 data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<p class="lead">
								Ordering your favorite artist's ticket from EventSpace is a
								breeze. Once you've found the perfect event, simply proceed to checkout.
								Our secure and efficient checkout process allows you to review your order,
								, and choose from  payment options. Rest assured, your transaction is protected, and
								your order will be swiftly processed.
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-item bg-dark">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed fs-3 text-light fw-medium"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#collapseTwo"
								aria-expanded="false"
								aria-controls="collapseTwo">
							What is the ordering process like?
						</button>
					</h2>
					<div id="collapseTwo"
						 class="accordion-collapse collapse"
						 data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<p class="lead">
								Ordering your favorite tech gear from EventSpace is a
								breeze. Once you've found the perfect product, simply add it
								to your cart and proceed to checkout. Our secure and
								efficient checkout process allows you to review your order,
								enter shipping details, and choose from multiple payment
								options. Rest assured, your transaction is protected, and
								your order will be swiftly processed.
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-item bg-dark">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed fs-3 text-light fw-medium"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#collapseThree"
								aria-expanded="false"
								aria-controls="collapseThree">
							How does EventSpace ensure customer satisfaction?
						</button>
					</h2>
					<div id="collapseThree"
						 class="accordion-collapse collapse"
						 data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<p class="lead">
								At EventSpace, customer satisfaction is our top priority.
								We are committed to delivering high-quality products and
								exceptional service. Our team carefully inspects and
								packages each order, ensuring it reaches you in perfect
								condition. Additionally, our responsive customer support is
								ready to assist with any inquiries or concerns you may have.
								Join our community of satisfied customers who trust TechGear
								Hub for a seamless and enjoyable shopping experience.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
@code {
	
	private bool isLargeFont = false;

	private void ToggleFontSize()
	{
		isLargeFont = !isLargeFont;
	}

	private string textClass => isLargeFont ? "interactive-text larger" : "interactive-text";
}











