@page "/"

<PageTitle>Index</PageTitle>


<div class="bg-image h-70">
	<h1 class="bg-text-centered">Welcome to EventSpace</h1>
</div>
<div class="sec-section">
	<div class="d-flex">
		<p class="text-white text-center p-5">
			Lorem ipsum dolor sit amet. Eos dolore vitae rem atque expedita et asperiores nihil et exercitationem consequuntur qui voluptas dolorum. Id dolorem corrupti qui eius autem id accusantium sunt rem expedita ullam ut fuga maiores.
			Et dolorem blanditiis est molestiae consequatur qui sint eius aut consectetur saepe ut quaerat voluptatibus ut ullam iure et obcaecati obcaecati? Sit odit ipsam non iusto dignissimos est sapiente suscipit!

		</p>
	</div>
	<div class="p-4">
		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col">
				<div class="card h-100">
					<img src="images/homepage.jpg" class="card-img-top" alt="...">
					<div class="card-body border-bottom">
						<h5 class="card-title text-white">Card title</h5>
						<p class="card-text text-white">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
					<div class="card-footer d-flex justify-content-center">
						<button class="btn btn-outline-light">Read More</button>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card h-100">
					<img src="images/homepage.jpg" class="card-img-top" alt="...">
					<div class="card-body border-bottom">
						<h5 class="card-title text-white">Card title</h5>
						<p class="card-text text-white">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
					<div class="card-footer d-flex justify-content-center">
						<button class="btn btn-outline-light">Read More</button>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card h-100">
					<img src="images/homepage.jpg" class="card-img-top" alt="...">
					<div class="card-body border-bottom">
						<h5 class="card-title text-white">Card title</h5>
						<p class="card-text text-white">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
					</div>
					<div class="card-footer d-flex justify-content-center">
						<button class="btn btn-outline-light">Read More</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="sec-section">
	<div class="row g-4 p-4">
		<!-- First Card -->
		<div class="col-md-4">
			<div class="card bg-dark text-white">
				<img src="images/mainimage.jpg" class="card-img-top img-fluid rounded-start" alt="Card Image">
				<div class="card-body">
					<h5 class="card-title">Card Title</h5>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					<a href="#" class="btn btn-outline-light">See more</a>
				</div>
			</div>
		</div>

		<!-- Second Card -->
		<div class="col-md-4">
			<div class="card bg-light">
				<img src="images/mainimage.jpg" class="card-img-top img-fluid rounded-start" alt="Card Image">
				<div class="card-body">
					<h5 class="card-title">Card Title</h5>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					<p class="card-text text-muted">Last updated 3 mins ago</p>
				</div>
			</div>
		</div>

		<!-- Third Card -->
		<div class="col-md-4">
			<div class="card bg-dark text-white">
				<img src="images/mainimage.jpg" class="card-img-top img-fluid rounded-start" alt="Card Image">
				<div class="card-body">
					<h5 class="card-title">Card Title</h5>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					<p class="card-text text-muted">Last updated 3 mins ago</p>
				</div>
			</div>
		</div>
	</div>
</div>






