html {
    font-size: 10px;
}

.sidenav {
    height: 100%;
    width: 20rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    border-radius: 0 3rem 3rem 0;
    padding-top: 2rem;
    padding: 1rem 0rem 1rem 1rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); /* Elevation shadow */
}

    .sidenav a {
        /*padding: 0.6rem 0.8rem;*/
        text-decoration: none;
        font-size: 1.8rem;
        color: #818181;
        display: block;
        padding-top: 2rem;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

.main {
    margin-left: 20rem; /* Same as the width of the sidenav */
    font-size: 1.8rem; /* Increased text to enable scrolling */
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 1.5rem;
    }

        .sidenav a {
            font-size: 1.6rem;
            padding-top: 2rem;
        }
}

.box-custom:hover {
    cursor: pointer;
    opacity: 0.1;
}

.box1 {
    background-color: salmon;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); /* Elevation shadow */
    padding: 2rem;
    border-radius: 1rem;
    color: #FFFFFF;
}


.box2 {
    background-color: cadetblue;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); /* Elevation shadow */
    padding: 2rem;
    border-radius: 1rem;
    color: #FFFFFF;
}

.box3 {
    background-color: thistle;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); /* Elevation shadow */
    padding: 2rem;
    border-radius: 1rem;
    color: #FFFFFF;
}

.table {
    color: white !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: red darkred darkred !important;
    color: white !important;
}

.nav-tabs {
    border-bottom: 1px solid darkred !important;
}

.nav-link {
    color: white !important;
}
