
.main-section {
    height: 100vh;
    padding-bottom: 10rem;
    margin-top: 2rem;
    overflow-y: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--colorSecondarys2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .main-section::-webkit-scrollbar {
        display: none;
    }

.card-custom {
    color: var(--colorPrimarys2);
    background-color: var(--colorSecondarys1);
}

.card img {
    height: 200px;
    object-fit: cover;
}

.side-section {
    color: var(--colorPrimarys2);
    background-color: var(--colorSecondarys1);
}

.playlist {
    height: 200px;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1rem;

}

.post-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}



.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: red darkred darkred !important;
    color: white !important;
}

.nav-tabs {
    border-bottom: 1px solid darkred !important;
}

.nav-link {
    color: white !important;
}

 