@page "/organizer/dashboard"

@layout AdminLayout

<style>
    .apexcharts-tooltip, .apexcharts-xaxis, .apexcharts-yaxis, .apexcharts-legend-text {
        color: #ffffff !important;
    }

    .apexcharts-title-text {
        fill: #ffffff !important;
    }

    .apexcharts-datalabel-label, .apexcharts-datalabel-value {
        fill: #ffffff !important;
    }

    .apexcharts-legend {
        color: #ffffff !important;
    }
</style>
<div class="container p-5">
    <div class="custom-box bg--secondary text-light mb-3">
        <h1 class="p-1">Welcome Organizer!</h1>
    </div>
    <div class="col-6">
            <div class="row">
                <DemoContainer>
                    <ApexChart TItem="DashboardCount"
                               Title="Gross Counts"
                               Height="800"
                               Width="500">

                        <ApexPointSeries TItem="DashboardCount"
                                         Items="DashboardItems"
                                         SeriesType="SeriesType.Donut"
                                         Name="Total Numeric Counts"
                                         XValue="@(e => e.Title)"
                                         YAggregate="@(e => e.Sum(e => e.Count))"
                                         OrderByDescending="e=>e.Y" />
                    </ApexChart>
                </DemoContainer>
            </div>
        </div>
</div>


@code {
    public class DashboardCount
    {
        public string Title { get; set; }

        public int Count { get; set; }
    }

    private List<DashboardCount> DashboardItems { get; set; } = new();

    protected override void OnInitialized()
    {
        DashboardItems.Add(
            new DashboardCount()
                {
                    Title = "Events",
                    Count = 10,
                });
        DashboardItems.Add(
            new DashboardCount()
            {
                Title = "Event Goers",
                Count = 20,
            });
    }

}