/* ==========================================================================
   #BACKGROUND
   ========================================================================== */
.page-wrapper {
    min-height: 100vh;
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
    font-size: 16px;
    color: #555;
}

/* ==========================================================================
   #FORM
   ========================================================================== */
.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

    .form-row .name {
        width: 150px;
        font-weight: 700;
        color: white;
        font-size: 16px;
    }

    .form-row .value {
        flex: 1;
    }

.input--style-5 {
    background: transparent;
    line-height: 50px;
    border: none;
    border-bottom: 2px solid #fff;
    padding: 0 10px;
    font-size: 16px;
    color: #fff;
    font-family: inherit;
}

    .input--style-5::placeholder {
        color: #ccc;
    }

.registerbtn {
    line-height: 50px;
    padding: 0 30px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    background: #ff4b5a;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

    .registerbtn:hover {
        background: #eb3746;
    }

/* Additional spacing */
.mt-2 {
    margin-top: 20px;
}

/* ==========================================================================
   #GRID
   ========================================================================== */
.wrapper {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-6 {
    width: calc(50% - 30px);
    margin: 0 15px;
}

@media (max-width: 767px) {
    .col-6 {
        width: 100%;
        margin: 0;
    }
}
