@page "/blog"
@using EventSpaceUI.Client.Utilities
@inject HttpClient HttpClient
@inject IApiService _apiService

<div class="p-5">

	<h3>Blog Index</h3>

	@if (blogs == null)
	{
		<p><em>Loading...</em></p>
	}
	else
	{
		<img src="images/logo.png" alt="Event Space Logo" />

		<div class="card-container">
			@foreach (var blog in blogs)
			{
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">@blog.Title</h5>
					</div>
					<div class="card-body">
					</div>
				</div>
			}
		</div>

		<form @onsubmit="CreateBlog">
			<div>
				<label for="Title">Title:</label>
				<input id="Title" @bind="newBlog.Title" />
			</div>
			<div>
				<label for="Content">Content:</label>
				<textarea id="Content" @bind="newBlog.Content"></textarea>
			</div>
		
			<div>
				<label for="PhotoName">Photo Name:</label>
				<input id="PhotoName" @bind="newBlog.PhotoName" />
			</div>
			<button class="btn btn-outline-dark" type="submit">Create Blog</button>
		</form>
	}
</div>

