<div class="a-card">
	<div class="imgBx">

	</div>
	<div class="content">
		<span class="category">
			<a href="#">Free</a>
		</span>
		<ul>
			<li><i class="fas fa-map-marker-alt"></i> Venue</li>
			<li><i class="fas fa-user"></i> Artist</li>
			<li><i class="fas fa-calendar-alt"></i> Date</li>
		</ul>
	</div>

</div>