
@page "/dash"
@using System.Security.Claims
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider











<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="/css/AdminLayout.css" asp-append-version="true" />
<link rel="stylesheet" href="/css/app.css" asp-append-version="true" />
<link rel="stylesheet" href="/css/button.css" asp-append-version="true" />
<link rel="stylesheet" href="/css/custom.css" asp-append-version="true" />
<link rel="stylesheet" href="/css/event.css" asp-append-version="true" />
<link rel="stylesheet" href="/css/modifier.css" asp-append-version="true" />
<link rel="stylesheet" href="/css/post.css" asp-append-version="true" />
<link rel="stylesheet" href="/css/sitestylesheet.css" asp-append-version="true" />
<link rel="stylesheet" href="/css/Typography.css" asp-append-version="true" />


<link href="https://fonts.googleapis.com/css2?family=Inter&family=Lato&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>

<link href="https://cdn.ckeditor.com/4.16.2/full/ckeditor.css" rel="stylesheet" />
@code {
    private ClaimsPrincipal User { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        User = authState.User;
    }
}


<div class="container page pt-5 bg-dark">
    
    <main class="mt-5">
        <div class="sidenav">
            <div class="w-75">
                <p class="fs--heading-2 pt-4">EventVerse</p>
                @if (User?.Identity?.IsAuthenticated ?? false)
                {
                    @if (User.IsInRole("Admin"))
                    {
                        <a href="#"><i class="fas fa-house-door-fill pe-2"></i>Dashboard</a>
                        <a href="#"><i class="fas fa-calendar-event-fill pe-2"></i>Events</a>
                        <a href="#"><i class="fas fa-people-fill pe-2"></i>All Users</a>
                        <a href="#"><i class="fas fa-ticket-perforated pe-2"></i>Organizers</a>
                        <a href="#"><i class="fas fa-receipt-cutoff pe-2"></i>Reports</a>

                    }
                    else if (User.IsInRole("Organizer"))
                    {
                        <a href="#"><i class="bi bi-house-door-fill pe-2"></i>Dashboard</a>
                        <a href="#"><i class="bi bi-calendar-event-fill pe-2"></i>Events</a>
                        <a href="#"><i class="bi bi-shop-window pe-2"></i>Merchandise</a>
                        <a href="#"><i class="bi bi-receipt-cutoff pe-2"></i>Reports</a>
                        <a href="#"><i class="bi bi-window-plus pe-2"></i>To do</a>
                    }
                }
                <div>
                    <partial name="_LoginPartialDash" />
                </div>
            </div>
        </div>

        <div class="main">
            <div class="ps-5 pe-5 pb-5">
                
            </div>
        </div>
    </main>
    
</div>
<script src="/jquery/jquery.min.js"></script>
<script src="/css/bootstrap/dist/"></script>
<script src="/js/" asp-append-version="true"></script>
