@inherits LayoutComponentBase
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="page bg-dark" >
    <div>
        <NavMenu />
    </div>
    <main class="mt-5">
        <article>
            @Body
        </article>
    </main>
    <div>
        <FooterComponent/>
    </div>
</div>
