@* <nav class="navbar navbar-expand-lg fixed-top nav-black border-bottom border-1 border-light">
	<div class="container-fluid">
		<a class="navbar-brand fs-4" href="#">
			<img src="images/logo.png" alt="Event Space Logo" height="70px" width="70px" class="img-fluid" />
		</a>
		<button class="navbar-toggler btn-custom" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="offcanvas offcanvas-end offcanvas-custom" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
			<div class="offcanvas-header border-bottom">
				<h5 class="offcanvas-title" id="offcanvasNavbarLabel">EventSpace</h5>
				<button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close" style="color: white;"> </button>
			</div>
			<div class="offcanvas-body nav-black d-flex flex-column p-4 flex-lg-row">
				<ul class="navbar-nav justify-content-start align-items-start fs-6 flex-grow-1 pe-3 nav-black">
					<li class="nav-item mx-2">
						<a class="nav-link" aria-current="page" href="#">Home</a>
					</li>
					<li class="nav-item mx-2">
						<a class="nav-link" href="/blog">Blog</a>
					</li>
					<li class="nav-item mx-2">
						<a class="nav-link" href="/eventindex">Events</a>
					</li>
					<li class="nav-item mx-2">
						<a class="nav-link" href="#">Contact Us</a>
					</li>
				</ul>
				<div class="d-flex flex-row justify-content-start align-items-center gap-3 flex-lg-row">
					<a href="/login" class="login text-decoration-none p-2 border border-white px-3 py-1 rounded-4">Login</a>
					<a href="/register" class="signup text-decoration-none px-3 py-1 rounded-4">Sign Up</a>
				</div>
			</div>
		</div>
	</div>
</nav> *@

@using EventSpaceUI.Client.Utilities;

@inject NavigationManager NavManager
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider

<nav class="navbar navbar-expand-lg fixed-top nav-black">
	<div class="container">
		<a class="navbar-brand fs-4" href="#">
			<img src="images/logo.png" alt="Event Space Logo" height="70px" width="70px" class="img-fluid" />
		</a>
		<button class="navbar-toggler btn-custom" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="offcanvas offcanvas-end offcanvas-custom" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
			<div class="offcanvas-header border-bottom">
				<h5 class="offcanvas-title" id="offcanvasNavbarLabel">EventSpace</h5>
				<button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close" style="color: white;"> </button>
			</div>
			<div class="offcanvas-body nav-black d-flex flex-column p-4 flex-lg-row">
				<ul class="navbar-nav justify-content-start align-items-start fs-6 flex-grow-1 pe-3 nav-black">
					<li class="nav-item mx-2">
						<a class="nav-link active" aria-current="page" href="#">Home</a>
					</li>
					<li class="nav-item mx-2">
						<a class="nav-link" href="/postindex">Post</a>
					</li>
					<li class="nav-item mx-2">
						<a class="nav-link" href="/eventindex">Events</a>
					</li>
					<li class="nav-item mx-2">
						<a class="nav-link" href="/register">Contact Us</a>
					</li>
				</ul>

				<AuthorizeView>
					<Authorized>
						<div class="d-flex flex-row justify-content-start align-items-center gap-3 flex-lg-row">
							<a type="button" class="signup text-decoration-none px-3 py-1 rounded-4" @onclick="Logout">Logout</a>
						</div>
					</Authorized>

					<NotAuthorized>
				<div class="d-flex flex-row justify-content-start align-items-center gap-3 flex-lg-row">
					<a href="/login" class="login text-decoration-none p-2 border border-white px-3 py-1 rounded-4">Login</a>
					<a href="/register" class="signup text-decoration-none px-3 py-1 rounded-4">Sign Up</a>
				</div>
					</NotAuthorized>

				</AuthorizeView>
			</div>
		</div>
	</div>
</nav>

@code {
	async Task Logout()
	{
		Console.WriteLine("hello");
		await LocalStorage.RemoveItemAsync("token");
		((CustomAuthStateProvider)AuthStateProvider).NotifyLogout();
		NavManager.NavigateTo("/login");
	}
}