@page "/freeticket"
@using EventSpaceUI.Client.Utilities
@inject NavigationManager NavigationManager
@inject IApiService _apiService


<div class="container p-5">
    <div class="row mt-5">
        <p class="fs--heading-1">Your free ticket have been sent to your email. Thank you!</p>
        <img src="/images/bgimage.jpg" class="event-img mt-5" />
    </div>
</div>


@code {
    
}
