@page "/admin/dashboard"

@layout AdminLayout

<div class="container p-5">
    <div class="custom-box bg--secondary text-primary mb-3">
        <h1 class="p-1">Welcome Admin!</h1>
    </div>
    <div class="row justify-content-between pt-5">
        <div class="col-3 box-custom box1">
            <h3>0</h3>
            <p>No of organizers</p>
        </div>
        <div class="col-3 box-custom box2">
            <h3>0</h3>
            <p>No of event goers</p>
        </div>
        <div class="col-3 box-custom box3">
            <h3>0</h3>
            <p>No of Events</p>
        </div>
    </div>

    <Chartsrazor />

    <div class="row justify-content-between pt-5">
        <div class="dark-box col-5">
            <canvas id="myChart" width="200" height="100"></canvas>
        </div>
    </div>
</div>
@* <script type="text/javascript">
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: [],
            datasets: [{
                label: 'Events by status',
                data: [],
                borderColor: '#020202',
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)',
                    '#D8E0BB',
                    '#86A3C3',
                    '#FFC300',
                    '#EF2E33',
                ],
                fill: true
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Event status'
                }
            }
        }
    });
</script>
 *@