@page "/admin/dashboard"

@layout AdminLayout


<style>
    .apexcharts-tooltip {
        background: darkred !important; 
        color: white !important; 
        border: 1px solid darkred !important;
    }

        .apexcharts-tooltip * {
            color: white !important; 
        }

        .apexcharts-tooltip .apexcharts-tooltip-title {
            background: darkred !important; 
            color: white !important; 
            padding: 5px; 
        }
    .apexcharts-xaxis, .apexcharts-yaxis, .apexcharts-legend-text {
        color: #ffffff !important;
    }

    .apexcharts-title-text {
        fill: #ffffff !important;
    }

    .apexcharts-datalabel-label, .apexcharts-datalabel-value {
        fill: #ffffff !important;
    }

    .apexcharts-legend {
        color: #ffffff !important;
    }
</style>

<div class="container p-5">
    <div class="custom-box bg--secondary text-light mb-3">
        <h1 class="p-1">Welcome Admin!</h1>
    </div>
    <div class="row justify-content-between pt-5">
        <DemoContainer>
                    <ApexChart TItem="DashboardCount"
                               Title="Gross Counts"
                               Height="800"
                               Width="500">

                        <ApexPointSeries TItem="DashboardCount"
                                         Items="DashboardItems"
                                         SeriesType="SeriesType.Scatter"
                                         Name="Total Numeric Counts"
                                         XValue="@(e => e.Title)"
                                         YAggregate="@(e => e.Sum(e => e.Count))"
                                         OrderByDescending="e=>e.Y" />
                    </ApexChart>
                </DemoContainer>
    </div>

    <Chartsrazor />

    <div class="row justify-content-between pt-5">
        <div class="dark-box col-5">
            <canvas id="myChart" width="200" height="100"></canvas>
        </div>
    </div>
</div>


@code {
    public class DashboardCount
    {
        public string Title { get; set; }

        public int Count { get; set; }
    }

    private ApexChartOptions<DashboardCount> options;
    private List<DashboardCount> DashboardItems { get; set; } = new();

    protected override void OnInitialized()
    {
        DashboardItems.Add(
            new DashboardCount()
                {
                    Title = "Organizers",
                    Count = 19,
                });

        DashboardItems.Add(
            new DashboardCount()
                {
                    Title = "Events",
                    Count = 17,
                });

        DashboardItems.Add(
            new DashboardCount()
                {
                    Title = "Event Goers",
                    Count = 20,
                });

        options = new ApexChartOptions<DashboardCount>
            {
                PlotOptions = new PlotOptions
                {
                    Bubble = new PlotOptionsBubble
                    {
                        MaxBubbleRadius = 2,
                        MinBubbleRadius = 1,
                        ZScaling = true
                    }
                }
            };
    }
}